body {
	font-family: 'Georgia', serif;
	color: #444466;
	background: #000;
}

#nav {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#nav a:link {
	color: #444466;
	text-decoration: none;
}

#nav a:hover {
	color: #AA2222;
	text-decoration: none;
}

#nav b {
	display: inline-block;
}

#content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 90%;
	text-align: justify;
}

#content a {
	color: #AA2222;
	text-decoration: none;
}

.board {
	margin-left: auto;
	margin-right: auto;
	top: 5px;
	left: 5px;
}

.clicked {

}

.board td {

	width: 15px;
	height: 15px;
	background-color: #BBBBEE;
}

.board td.alive {
	background-color: #CCEEDD;
}

button {
	background: #000;
	color: #444466;
	border: solid 1px #333;
}

#second img {
	disply: inline;
	border: solid 1px #FFF;
}