{% extends "base.html" %}
{% block body%}

<div id="homepage">
	<center><h1>Honors and Awards</h1></center>
</div>
<div id="publication">
	<b>2010 - 2014</b><br>
	<a href="http://www.fefonline.org/mdf.html">McKnight Doctoral Fellowship Recipient</a>
	<br><div id="authors">- Without the dedicated work or Dr. Lawrence Morehouse and Mr. Charles Jackson through the Florida Education Fund, I would not have been able to afford graduate school.
		It was an honor to be a part of the program, and I hope I can return a fraction of the support I received in the past 4 years.
	</div>
	<br>
	<b>2013</b><br>
	<a href="http://graduateschool.ufl.edu/finances-and-funding/supplemental-retention-scholarships">OGMP Supplemental Retention Award</a>
	<br><div id="authors">- The Office of Graduate Minority Programs has also done an outstanding job supporting and guiding me through my Masters and PhD experience. This award allowed me to get by while finishing my dissertation, when I typically had to work as a grader or TA to help support myself each year.
		Dr. David W. Mazyck did a phenomenal job as the interim Dean and helped me find the support I needed at a critical time.</div>
	<br>
	<b>2013</b><br>
	<a href="http://seagep.aa.ufl.edu/">South East Alliance for Graduate Education and the Professoriate Award</a>
	<br><div id="authors">- Dr. Anne Donnelly manages a lot of things at UF, and SEAGEP is one of them. 
		Mr. Earl Wade from the OGMP pointed me in her direction and she took care of the rest to help me earn this award.</div>
	<br>
	<b>2011</b><br>
	<a href="http://www.che.ufl.edu/grace/">President of the Graduate Association of Chemical Engineers, University of Florida </a>
	<br><div id="authors">- Having been a part of the ChemE program since my Masters, I took the reigns of our graduate student association as I entered PhD candidacy.
		In that year, we began several new ideas to improve GRACE, including more social events and a new facebook page to enhance our network.</div>
	
</div>
<br>
<br>
<div id="homepage">
	<center><a href="#">Return to Top</a></center>
</div>
<br>
<br>
{% endblock %}