{% extends "base.html" %}
{% block body%}

<div id="homepage">
	<center><h1>Welcome!</h1></center>
</div>
<div id="publication">
	My name is Stephen. I was recently picked up by the Biomedical Engineering department at the University of Florida as a lecture professor!
	<br><br>My responsibilities include managing the department teaching lab, including the capstone senior design course, bioinstrumentation and intro to BME labs.
	Our department sources project ideas from the real-world clinical needs of clinical partners from all over UF, which are identified through a shadowing program available to our graduate students.
	Seniors then refine those ideas, brainstorm new devices to meet clinical needs, and develop prototypes by the end of the academic year.
	<br><br>I'm working to make stronger ties with UF's Office of Technology and Licensing and introduce my students to entrepreneurship early, and also strengthen our connections with local industry to create internship/job opportunities.
	A good proportion of our students do plan to stay in academia or go on to medical school as well, so it will be a diverse crowd with lots of creative potential!
	<br><br><center>Here is a summary of each section of this website:</center>
	
		<p><a href="{{ url_for('research.index') }}">Research</a>: The major themes of my doctoral research are explained in this section.
			I believe that the shape of migrating cells can tell us more than we think.</p>
		<p><a href="{{ url_for('projects.index') }}">Projects</a>: Perform image processing on your own images using the power of Python, over the server!</p>
		<p><a href="{{ url_for('home.publications') }}">Publications/Presentations</a>: My colleagues and I are continually working on new publications, but here are the completed products. 
			I have presented my work several times as well, and am proud to have guided my recent undregraduate partners in presenting our joint work.</p>
		<p><a href="{{ url_for('home.honors') }}">Honors and Awards</a>: This page acknowledges the support I received throughout my graduate life.</p>
		<a href="{{ url_for('home.about') }}">About</a>: Here, I explain how this website was created, and list some of my more technical abilities.
		
</div>
<br>
<br>
<div id="homepage">
	<center><a href="#">Return to Top</a></center>
</div>
<br>
<br>
{% endblock %}